{% extends "todo/base.html" %}

{% block content %}
    <h2>TODOs</h2>

    {% if latest_todo_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Completed</th>
                    <th></th>
                </tr>
            </thead>
        {% for todo in latest_todo_list %}
            <tr>
                <td>
                    <a href="{% url 'update' todo.id %}">{{ todo.task_text }}</a>
                </td>
                <td>
                    {{todo.done|yesno}}
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove"></span>
                    <a href="{% url 'delete' todo.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p> No TODOs </p>
    {% endif %}

    <br />
    <form action="{% url 'add' %}" method="get">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Add ToDo</button>
        </div>
    </form>

{% endblock content %}
